/* Colors */
$paradiso: #3c948b;
$mine-shaft: #343434;
$dixie: #E1991C;
$royal-blue: #3b78e7;
$cornflower-blue: #EEE;
$lochmara: #0078D7;
$alizarin-crimson: #ED3130;

/* Times */
$short-time: .5s;
$default-time: 1s;

/* Border */
$common-border: 10px;


html,
body {
  min-width: 500px;
  min-height: 500px;
  background-color: $mine-shaft;
  color: white;
}

*:not(.fa) {
  font-family: 'Roboto', Helvetica !important;
}

.fa {
  font-family:'FontAwesome' !important;
  font-style: normal !important;
  &:before {
    font-size: 72px;
    line-height: 75px;
  }
}
 .files-concat {
   .fa:last-child {
     color: green;
   }
 }


h1, h2, h3, h4, h5, h6 {
  color: $paradiso;
}

h1 {
  font-size: 67px !important;
}

h2 {
  font-size: 60px !important;
}

blockquote {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  background: transparent !important;
  box-shadow: none !important;
  border-left: 3px solid $dixie !important;
}

div, p {
  font-size: 26px !important;
}
p, ul, dl, ol {
  text-align: left;
}

ul, ol, dl {
  display: block !important;
  li {
    list-style: none;
    position: relative;
    &:before {
      content: ' ';
      border-radius: 50%;
      display: block;
      height: 6px;
      width: 6px;
      position: absolute;
      background: $dixie;
      top: 11px;
      left: -15px
    }
  }
}

dt {
  color: $lochmara;
}

h2 > a {
  color: inherit;
  text-decoration: none;
}

.img-resposive {
  display: block;
  width: 100%;
  max-width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .col-6 {
    flex-basis: 50%;
  }
}


.align-left {
  text-align: left;
}

.about {
  padding-top: 50px !important;
}

.cool_glasses {
  top: 0;
  left: 11.5%;
  position: absolute;
  width: 202px;
  opacity: 0;
  transition: top 5s ease, opacity 5s ease;
  .slides .present & {
    top: 45%;
    opacity: 1;
  }
}


.special-links {
  position: relative;
  display: inline-block;
  z-index: 30;

  &:before,
  &:after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    transition: $default-time width ease,  $default-time background ease;
    bottom: -1px;
    background: $dixie;
    z-index: -1;
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }

  &:hover{
    &:before,
    &:after {
      width: 100%;
      background: darken($dixie, 20%);
    }
  }
}

.first-slide h2{
  margin-bottom: 10px;
}

/*Heart*/
.heart-container {
  display: block;
  height: 500px;
  width: 100%;
  min-width: 500px;
}

.heart {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  top: 250px;
  background-color: red;
  animation: heart-animation 1s ease infinite;
  &:after,
  &:before {
    content: ' ';
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    background-color: red;
  }
  &:before {
    left: 0px;
    top: -14px;
  }
  &:after {
    left: 14px;
  }
}

.circle {
  display: block;
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid $lochmara !important;

  span {
    font-weight: bold;
    position: absolute;
    color: $dixie;
  }
  &.circle-CSS {
    left: 320px;
    span {
      top: 30px;
      left: 129px;
    }
  }
}

@keyframes heart-animation {
  0%, 100% {
    transform: scale(1.2) rotate(-45deg);
  }

  50% {
    transform: scale(1.5) rotate(-45deg);
  }
}

/*Pretty Print*/
.prettyprint {
  border-radius: $common-border;
  border-left:  5px solid $royal-blue !important;
  padding: 15px 10px !important;
  background-color: $cornflower-blue;
  overflow-x: auto;

  span {
    font-size: 18px;
  }

  .kwd, .tag {
    color: $alizarin-crimson;
  }

  .pln, .atn {
    color: $paradiso;
  }

  .pun, .opn, .clo, .atv {
    color: $royal-blue;
  }
}
