/* Colors */
/* Times */
html,
body {
  min-width: 500px;
  min-height: 500px;
  background-color: #343434;
  color: white; }

* {
  font-family: 'Roboto', Helvetica; }

h1, h2, h3, h4, h5, h6 {
  color: #3c948b; }

h1 {
  font-size: 67px !important; }

h2 {
  font-size: 60px !important; }

blockquote {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  background: transparent !important;
  box-shadow: none !important;
  border-left: 3px solid #E1991C !important; }

div, p {
  font-size: 26px !important; }

h2 > a {
  color: inherit;
  text-decoration: none; }

.img-resposive {
  display: block;
  width: 100%;
  max-width: 100%; }

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .content-container .col-6 {
    flex-basis: 50%; }

.align-left {
  text-align: left; }

.about {
  padding-top: 50px !important; }

.cool_glasses {
  top: 0;
  left: 11.5%;
  position: absolute;
  width: 202px;
  opacity: 0;
  transition: top 5s ease, opacity 5s ease; }
  .slides .present .cool_glasses {
    top: 45%;
    opacity: 1; }

.special-links {
  position: relative;
  display: inline-block;
  z-index: 30; }
  .special-links:before, .special-links:after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    transition: 1s width ease, 1s background ease;
    bottom: -1px;
    background: #E1991C;
    z-index: -1; }
  .special-links:after {
    right: 0; }
  .special-links:before {
    left: 0; }
  .special-links:hover:before, .special-links:hover:after {
    width: 100%;
    background: #865b11; }

.first-slide h2 {
  margin-bottom: 10px; }

/*Heart*/
.heart-container {
  display: block;
  height: 500px;
  width: 100%;
  min-width: 500px; }

.heart {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  top: 0;
  background-color: red; }
  .heart:after, .heart:before {
    content: ' ';
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    background-color: red; }
  .heart:before {
    left: 0px;
    top: -14px; }
  .heart:after {
    left: 14px; }
  .slides .present .heart {
    animation: heart-animation 1s ease infinite;
    top: 250px; }

.circle {
  display: block;
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #0078D7 !important; }
  .circle span {
    position: absolute; }
  .circle.circle-CSS {
    left: 320px; }
    .circle.circle-CSS span {
      top: 30px;
      left: 129px; }

@keyframes heart-animation {
  0%, 100% {
    transform: scale(1) rotate(-45deg); }
  50% {
    transform: scale(1.2) rotate(-45deg); } }
